/*h1 {
	color: red;
}*/

.red{
	color: green;
}

#rawr {
	color: purple;
}

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.center-image{
	display:inline-block;
    margin:5px 32px;
    padding:5px;    
    border:1px solid #CCC;
}
.center-image1{
	display:inline-block;
    margin:5px 125px;
    padding:5px;    
    border:1px solid #CCC;
}